/* You can add global styles to this file, and also import other style files */

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: transparent;
}
body {
    font: 12px sans-serif;
  }

  .circle-legend circle {
    stroke: red;
    stroke-dasharray: 14, 21;
    fill: aliceblue;
  }
  .slegend{
      background: red;
      border: solid 2px blue;
  }